name = "BatchedRoutines"
uuid = "8149b2a8-f11c-11e8-306d-59a25846b9b7"
authors = ["Roger-luo <hiroger@qq.com>"]
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
